# Local .terraform directories and files
**/.terraform/*
**/apps/manifests/*
**/kube-prometheus/*


# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl
*.crt
*.bak

# own secret vars store
personal.auto.tfvars


# Ansible
**/.vscode/*
**/inventory/prod.yaml

#Python
run_project.py
instr.txt